.styles-section .selector {
  font-size: .5em;
}

.styles-section .simple-selector {
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-width: 95%;
}

.styles-section .simple-selector.selector-matches {
  -webkit-line-clamp: initial;
  display: inline-block;
  overflow: initial;
  -webkit-box-orient: initial;
  font-size: initial;
  text-shadow: 1px 1px 1px fuchsia;
  padding: .5em 0;
}
